html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: "Roboto Condensed", sans-serif;
}

.credentials {
    padding-top: 200px;
}

.folderSelect {
    padding-top: 200px;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .form-group label {
        flex-shrink: 0;
        width: 100px;
    }

.moveitImage {
    width: 120px;
    height: auto;
}

.form-group-folder {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

    .form-group-folder input {
        width: 700px;
    }

#notification-container {
    text-align: center;
    padding-top: 20px;
}